            /*-------------------------------Seccion caracteristicas----------------------->>>>>>>>>>>*/
            
            .caracteristicas {
                width: 100%;
                display: flex;
                padding-top: 40px;
                /* padding-bottom: 50px; */
            }
            
            .caracteristicas article {
                text-align: center;
                width: 25%;
                /* font-family: Arial, Helvetica, sans-serif; */
            }
            
            .caracteristicas article .cont-ico {
                margin: 28px auto;
                display: block;
                background-color: #3fbbc0;
                border-radius: 50%;
                padding: 18px;
                width: 80px;
                height: 80px;
                /* margin: 0 0 30px; */
                margin-top: 40px;
                margin-bottom: 10px;
            }
            
            .caracteristicas h3 {
                font-size: 24px;
                font-weight: 800;
                /* font-family: Arial, Helvetica, sans-serif; */
                /* font-size: large; */
                margin: 10px 0;
                padding-top: 14px;
                margin-bottom: 0px;
            }
            
            .caracteristicas p {
                margin-top: 0px;
                /* padding-top: 18px;
                padding-bottom: 72px; */
                padding-left: 17px;
                padding-right: 17px;
                line-height: 24px;
                padding-bottom: 30px;
                padding-top: 30px;
            }
            
            .libros {
                width: 98%;
                background-color: rgba(246, 245, 248, 1);
                margin: 0;
                border: 10px;
                /* height: 120px; */
                padding-top: 15px;
                padding-left: 10px;
                padding-right: 10px;
                margin: 0 auto;
                position: relative;
                margin-top: 32px;
                padding-bottom: 44px;
                border-bottom: solid 2px #ccc;
                padding-top: 39px;
            }
            
            .libros img {
                width: 49%;
                border: solid 1px #000;
                height: 471px;
                bottom: 0;
                position: relative;
                padding-top: 80px;
            }
            
            .libros h2 {
                font-size: 32px;
                font-weight: 800;
                padding-top: 23px;
                padding-left: 18px;
            }
            
            .libros p {
                padding-top: 23px;
                padding-left: 18px;
            }
            
            .libros a {
                padding: 10px 10px 10px 10px;
                background-color: #3fbbc0;
                color: white;
                font-weight: 800;
                /* font-family: Arial; */
                position: absolute;
                border-radius: 8px;
                top: 50px;
                right: 30px;
                text-decoration: none;
                margin-right: 9px;
                margin-top: 11px;
                padding-left: 18px;
                padding-right: 18px;
            }
            
            .items-libros {
                width: 100%;
                position: relative;
                font-size: 0;
                /* padding-top: 23px; */
            }
            
            .items-libros img {
                display: inline-block;
                vertical-align: top;
                padding-top: 36px;
                width: 48.5%;
                height: -8%;
                padding-left: 10px;
            }
            
            .items-libros ul {
                display: inline-block;
                width: 25%;
                vertical-align: top;
            }
            
            .items-libros ul li {
                padding-top: 20px;
                padding-bottom: 7px;
            }
            
            .items-libros ul li a img {
                display: inline-block;
                vertical-align: top;
                width: 62px;
                padding-top: 16px;
                padding-left: 17px;
                margin-left: 10px;
                padding-bottom: 0px;
                height: 62px;
            }
            
            .items-libros ul li a {
                display: block;
                font-size: 0;
                color: #444;
            }
            
            .items-libros ul li a:active,
            .items-libros ul li:visited {
                color: #444;
            }
            
            .items-libros ul li {
                /* margin-bottom: 50px;
                margin-top: 20px; */
            }
            
            .cont-contenido {
                display: inline-block;
                vertical-align: top;
                width: 75%;
                padding: 0 10px;
            }
            
            .cont-contenido h4 {
                /* margin-bottom: 5px; */
                /* font-family: Arial, Helvetica, sans-serif; */
                font-size: large;
                font-size: 24px;
                padding-left: 9px;
                padding-top: 11px;
                font-weight: 400;
                padding-bottom: 6px;
            }
            
            .cont-contenido p {
                padding-left: 9px;
                line-height: 23px;
                padding-top: 4px;
            }