.instalaciones {
    text-align: center;
}

.instalaciones .contenedor h2 {
    display: block;
    padding-top: 146px;
    padding-bottom: 12px;
}

.instalaciones p {
    letter-spacing: 1px;
    font-size: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.instalaciones hr {
    color: #333;
    width: 62px;
    margin: 22px auto;
}


/*-----------------------------------Contenedor del Slider de imagenes---------------------------------------------------------------------------------*/

.slider {
    display: block;
    width: 100%;
}

.instalaciones input[name="slider-instalaciones"] {
    display: none;
}

.instalaciones .box-carousel {
    display: block;
    overflow: hidden;
    width: 100%;
    /* margin: 100px 1px; */
    transition: all 2s ease;
    height: 220px;
    margin-top: 59px;
    margin-bottom: 0;
}

.instalaciones .box-carousel .carousel {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 600%;
    transition: all 2s;
    height: 100%;
}

.instalaciones .box-carousel .carousel li {
    list-style: none;
    margin: 10px 16px;
    padding: 0;
    /* padding-right: .2%; */
    width: 3.7%;
}

.instalaciones .box-carousel .carousel li img {
    /* width: 266px; */
    width: 100%;
    padding: auto;
    margin: auto;
    height: 198px;
    object-fit: cover;
}


/*---------------------------------Animacion del carousel-------------------------------------------------------------------------------*/

.instalaciones #slider-1:checked~.box-carousel>.carousel {
    margin-left: 0%;
}

.instalaciones #slider-2:checked~.box-carousel>.carousel {
    margin-left: -100%;
}

.instalaciones #slider-3:checked~.box-carousel>.carousel {
    margin-left: -200%;
}

.instalaciones #slider-4:checked~.box-carousel>.carousel {
    margin-left: -300%;
}

.instalaciones #slider-5:checked~.box-carousel>.carousel {
    margin-left: -400%;
}

.instalaciones #slider-6:checked~.box-carousel>.carousel {
    margin-left: -492.5%;
}


/*---------------------------------Estilos para los rotadores---------------------------------------------------------------------------*/

.dots {
    width: 100%;
    text-align: center;
    margin: 14px auto;
    padding: 0 10px;
    /* height: 30px; */
}

.dots .dot {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 13px;
    background: #ccc;
    margin: 8px 5px;
    border-radius: 100%;
}

.dots .dot:hover {
    cursor: pointer;
}


/*-----------------------------------efecto de seleccion de rotadores----------------------------------------------------------*/

#slider-1:checked~.dots>#p-1 {
    background: #3fbbc0;
}

#slider-2:checked~.dots>#p-2 {
    background: #3fbbc0;
}

#slider-3:checked~.dots>#p-3 {
    background: #3fbbc0;
}

#slider-4:checked~.dots>#p-4 {
    background: #3fbbc0;
}

#slider-5:checked~.dots>#p-5 {
    background: #3fbbc0;
}

#slider-6:checked~.dots>#p-6 {
    background: #3fbbc0;
}