.paquetes {
    background: #fafafa;
    padding-bottom: 61px;
}

.paquetes .title {
    display: block;
    text-align: center;
    font-size: 2.25rem;
    display: block;
    padding-top: 146px;
    padding-bottom: 12px;
}

.paquetes .description {
    display: block;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: 1px;
    font-size: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.paquetes hr {
    /* border-color: #888888; */
    width: 62px;
    margin: 22px auto;
}

.table-package {
    /* height:240px; */
    display: flex;
    flex-wrap: rowwrap;
    /* border: solid 1px red; */
    justify-content: center;
    align-items: center;
}

.table-package .package {
    margin-top: 18px;
    width: 30%;
    /* border: solid 1px; */
    /* opacity: .5; */
    box-shadow: 0px 0px 6px 0px #888;
}

.table-package .package-header {
    display: block;
    background: #676767;
    color: #fff;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 28px;
    font-size: 17px;
    font-weight: 400;
}

.table-package .package-price {
    width: 100%;
    background: #000;
    background: #454545;
    /* height: 60px; */
}

.table-package .package .package-price .price {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
    font-size: 33px;
    font-weight: 800;
    letter-spacing: .8px;
}

.table-package .package .package-price .price span {
    font-size: 16px;
    font-weight: 400;
}

.table-package .package .package-desc {
    background: #fff;
    padding-bottom: 25px;
    padding-left: 21%;
    padding-top: 6%;
    padding-right: 11%;
}

.table-package .package .package-desc .item-paquetes {
    /* display: inline-block; */
}

.table-package .package .package-desc .item-paquetes li {
    padding-top: 19px;
    padding-bottom: 16px;
    border-bottom: dotted 1px #666;
    font-weight: 400;
}

.table-package .package .package-desc .item-paquetes li i {
    float: right;
}

.table-package .package .package-footer {
    background-color: #fafafa;
    /* margin: 1rem; */
    /* padding: 1rem; */
    /* border: 2px solid #ccc; */
    /* IMPORTANTE */
    text-align: center;
    padding-top: 35px;
    padding-bottom: 38px;
}

.table-package .package .package-footer a {
    background: rgba(75, 204, 209, 1);
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 8px;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.5px;
}


/*------------------------------Elemento central--------------------------------------------*/


/* .table-package .prefer {
    /* box-shadow: none;
     */


/* opacity: .5; */


/* line-height: 6.5rem; 


}
*/

.table-package .package:nth-child(2) {
    margin-top: 30px;
    z-index: 9999;
    width: 30.5%;
    box-shadow: 0px 16px 40px 0px #888;
}

.table-package .package:nth-child(2) .package-header {
    background: #40bbc0;
}

.table-package .package:nth-child(2) .package-price {
    padding-top: 18px;
    padding-bottom: 21px;
    background: #4bccd1;
}

.table-package .package:nth-child(2) .package-footer {
    background: #40bbc0;
}

.disabled {
    text-decoration: line-through;
    color: rgba(222, 222, 222);
}

.fa-check {
    color: #7db53c;
}

.fa-times {
    color: #e24f48;
}